name: Release Obsidian plugin

on:
    push:
        tags:
            - "*"

jobs:
    build:
        runs-on: ubuntu-latest

        permissions:
            contents: write

        steps:
            - uses: actions/checkout@v4

            - uses: actions/setup-node@v4
              with:
                  node-version: 22

            - name: Setup pnpm (with cache)
              uses: pnpm/action-setup@v4
              with:
                  version: 10
                  cache: true

            - name: Build plugin
              run: |
                 pnpm install --frozen-lockfile --prod=false
                 pnpm run build --if-present

            - name: Create release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  tag="${GITHUB_REF#refs/tags/}"
                  
                  zip ${{ github.event.repository.name }}.zip main.js manifest.json styles.css
                  
                  gh release create "$tag" \
                    --title="$tag" \
                    --draft \
                    main.js manifest.json styles.css ${{ github.event.repository.name }}.zip
